#
*.directory
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.dropbox
.directory
*.orig

cgi-bin/chkperm.sh
cgi-bin/common/general*.*
cgi-bin/sessions/
cgi-bin/sessions/.orders/
httpdocs/manuals/videos/
docs/*
httpdocs/finkok/common/php/Facturas/download.zip
httpdocs/finkok/common/php/Facturas/log
httpdocs/finkok/common/php/Facturas/screenshots/*
screenshots/
logs/
files/
!httpdocs/finkok/common/php/Facturas/files/
README*.*


docs/excluded/
**/excluded


httpdocs/apps/upload_layout_treasury/files_uploaded/*
httpdocs/service/*.lock

httpdocs/service/vendor/*
